.home {
  background: linear-gradient(278.48deg, #bd4cea 6.98%, #7ee9e2 100.14%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}

.header {
  height: 85vh;
}

.section-container {
  height: 85vh;
  background-color: #F6F7FA;
}
.header-container {
  padding: 100px 0px 0px 12%;
  width: 70%;
}

.home-header {
  display: flex;
  color: white;
  font-family: Helvetica, Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 118%;
  letter-spacing: 0.06em;
}

.subheader {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 118%;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.get-started-btn-ctn {
  display: flex;
  justify-content: start;
  padding-top: 80px;
  filter: drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.06)),
    drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.04)),
    drop-shadow(0px 0px 1px #0000000a);
}

.get-started-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 187px;
  height: 53px;
  background: #c394ff;
  border-radius: 20px;
  border: none;
}

.get-started-btn:active,
.get-started-btn:focus {
  outline: none;
}

.get-started-btn:hover {
  background-color: #7ee9e2;
}

.btn-message {
  font-family: Helvetica, Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 118%;
  /* or 28px */

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}
