.navbar {
  width: 93%;
  margin: auto;
  .navbar-brand {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 118%;
    text-align: center;
    color: #4192c9;
  }
  .btn {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 118%;
    text-align: center;
    color: #ffffff;
    background-color: #4192c9;
    border-radius: 20px;
  }

  .nav-item {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 118%;
    text-align: center;
    color: #4192c9;
  }
}
