.profile {
  background: #ffffff;
  border-radius: 20px;
  height: 100vh;
  margin: 10% 7% 0px 7%;
  img {
    position: relative;
    top: -100px;
    left: 25%;
    height: 200px;
    width: auto;
    border-radius: 50%;
  }
  .profile-container {
    display: flex;
    justify-content: space-around;
    padding: 5%;
    height: 100%;
    .info-container {
      padding: 20px;
      width: 30%;
      h1 {
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.03em;
        color: #000000;
      }
    }
  }
}
