h1 {
  text-align: center;
}
.profile-name {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
}
.user-profile {
  height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-info,
.edit-profile-info {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.06em;
  color: #4f4f4f;
}

.edit-profile-pic {
  border-radius: 50%;
  width: 160px;
  height: 160px;
}
.profile-pic {
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

.edit-profile-btn,
.signout-btn {
  margin: 30px;
  width: 145px;
  height: 53px;
  color: white;
  border: none;
  border-radius: 20px;
}

.edit-profile-btn {
  background: #626262;
}

.signout-btn {
  background-color: #d9433a;
}

.edit-profile {
  width: 450px;
}
